@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald:200,400|Playfair+Display:400,400i');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Playfair+Display+SC:wght@700&family=Tenor+Sans&display=swap');
html,body{
  padding: 0;
  margin: 0;
}
*{
  box-sizing: border-box;
}
.preloader {
  position: fixed;
  background: #ffffff;
  top: 0 !important;
  left: 0 !important;
  width: 100vw;
  height: 100vh;
  z-index: 99999999;
  opacity: 1;
  transition: .5s;
  overflow: hidden;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circular {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 50px;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 50px;
}

.path {
  stroke-dasharray: 1, 500;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #000000;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform:  rotate(360deg);
    transform:  rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

.done {
  opacity: 0;
  visibility: hidden;
}

@keyframes load {
  from{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.container{
  width: 1100px;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
}

.sticky {
  position: fixed;
  z-index: 10;
}
.navbar--container {
  top: 15%;
  background:  #ffffff;
  height: 220px;
  width: 65px;
  border: 1px solid darkgrey;
  border-radius: 0 10px 10px 0;
  box-shadow: none;
}
.navbar--icon {
  margin-top: 24px;
  margin-left: 20px;
  font-size: 1em;
  &:hover {
    color: darkgrey;
    cursor: pointer;
  }
}
.navbar--title {
  margin-left: 0;
  margin-top: 35px;
  h4 {
    writing-mode: vertical-rl;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .34em;
    text-transform: uppercase;
    font-size: 0.9em;
  }
}

//navigation open

.nav--open {
  min-height: 100vh;
  width: 300px;
  background:  #ffffff;
  transition: all .4s ease-out;
  opacity: 1;
  border-right: 1px solid grey;
  top: 0;
}


.nav--open-icon {
  text-align: right;
  padding: 20px;
  i {
    font-size: 1.8em;
    color: #000000;
    &:hover {
      color: #333333;
      cursor: pointer;
    }
  }
}

.nav--open-title {
  font-family: 'Playfair Display', serif;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin-left: 70px;
}

.nav--open-menu {
  height: 100%;
  //display: flex;
  //flex-direction: column;
  margin-top: 30px;
  a {

    margin-left: 70px;
    font-size: 20px;
    font-family: 'Playfair Display SC', serif;
    padding: 15px 0;
    color: black;
    display: block;
    text-decoration: none;

  }
}

.close {
  transform: translateX(-100%);
  transition: all .4s ease-out;
}


#home{
  width: 100%;
  min-height: 100vh;
  margin-bottom: 20px;
  .header-top{
    display: flex;
    width: 100%;
    justify-content: flex-end;

    img{
      margin-top: 20px;
      margin-right: 20px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }
  .header{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    h3{
      font-size: 30px;
      font-family: 'Tenor Sans', sans-serif;
      margin-bottom: -25px;

    }
    h4{
      font-size: 20px;
      font-weight: 100;
      margin-bottom: -10px;
      font-family: 'Tenor Sans', sans-serif;
      letter-spacing: 2px;
    }
    .linked{
      margin-top: 90px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .linked-item{
        margin: 10px 0;
        min-width: 140px;
        width: 33%;
        height: 20px;
        display: flex;
        align-items: center;
        font-size: 18px;
        justify-content: center;
        a{
          text-decoration: none;
          font-family: 'Oswald', sans-serif;
          text-transform: uppercase;
          margin-left: 5px;
          color: #000000;
        }
      }
    }

    svg{
      width: 400px;
      height: 400px;
    }
    .btn-6 {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      overflow: hidden;
      width: 150px;
      height: 40px;
      color: #ffffff;
      background: #000;
      border: 1px solid #000000;
      font-family: 'Playfair Display SC', serif;
      font-size: 14px;
      transition: .3s;
    }
    .btn-6 b{
      z-index: 3;
    }
    .btn-6 span {
      position: absolute;
      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: #ffffff !important;
      -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
      transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    .btn-6:hover {
      color: #000000;
    }
    .btn-6:hover span {
      width: 300%;
      height: 500%;
      background: #ffffff;
      z-index: 2;
      top: 0;
      left: 0;
    }
    .btn-6:active {
      background-color: #ffffff;
    }
  }
}

#about{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  justify-content: center;
  .block-1{
    width: 49%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid darkgrey;
    border-radius: 10px 0 0 10px;
    border-right: 0;
    h4{
      font-size: 22px;
      font-family: 'Tenor Sans', sans-serif;
      margin-bottom: -25px;
      font-weight: 600;
      letter-spacing: 2px;
    }
    p{
      font-family: 'Tenor Sans', sans-serif;
      margin-bottom: 5px;
      letter-spacing: 2px;
      font-weight: 500;

    }
    ul li{
      list-style: none;
      margin-left: -5px;
      font-family: 'Tenor Sans', sans-serif;

    }
  }
  .block-2{
    width: 49%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e6e6e6;
    border: 1px solid #e6e6e6;
    border-radius: 0 10px 10px 0;
    border-left: 0;
    svg{
      width: 250px;
      height: 250px;
    }
  }
}

#work{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  min-height: 60vh;
  .block{
    width: 250px;
    height: 450px;
    padding: 10px;
    margin: 10px 0;
    //background: #000;
    svg{
      width: 220px;
      height: 200px;
      margin: 0 5px;
    }
    h4{
      font-family: 'Tenor Sans', sans-serif;
    }
    p{
      font-family: 'Tenor Sans', sans-serif;
    }
  }
}

#contact{
  .div{
    display: flex;
    align-items: flex-end;
    width: 310px;
    justify-content: space-around;
    img{
      width: 100px;
      height: 100px;
    }
  }
}





@media screen and (max-width: 1100px) {
  .container{
    width: 100%;

  }
}

@media screen and (max-width: 600px) {
  .nav--open {

    width: 100%;
  }
  .container{
    width: 100%;

  }
  #about{
    margin-top: -100px;
    width: 100%;
    display: flex;
    padding-bottom: 50px;
    justify-content: center;
    .block-1{
      width: 80%;
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 0;
      border-radius: 10px 10px 0 0;
      h4{
        font-size: 22px;
        font-family: 'Tenor Sans', sans-serif;
        margin-bottom: -25px;
        font-weight: 600;
        letter-spacing: 2px;
      }
      p{
        font-family: 'Tenor Sans', sans-serif;
        margin-bottom: 5px;
        letter-spacing: 2px;
        font-weight: 500;

      }
      ul li{
        list-style: none;
        margin-left: -5px;
        font-family: 'Tenor Sans', sans-serif;

      }
    }
    .block-2{
      width: 80%;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #e6e6e6;
      border: 1px solid #e6e6e6;
      border-radius: 0 0 10px 10px;
      border-top: 0;
      svg{
        width: 250px;
        height: 250px;
      }
    }
  }


  .navbar--container {
    top: 20px;
    background:  #ffffff;
    height: 55px;
    width: 55px;
    border-radius: 0 10px 10px 0;
    .navbar--title{
      display: none;
    }
    .navbar--icon {
      width: 55px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      font-size: 1em;
      &:hover {
        color: darkgrey;
        cursor: pointer;
      }
    }
  }

  #home{
    width: 100%;
    .header-top{
      display: flex;
      width: 100%;
      justify-content: flex-end;

      img{
        margin-top: 20px;
        margin-right: 20px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }
    .header{
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      h3{
        font-size: 20px;
        font-family: 'Tenor Sans', sans-serif;
        margin-bottom: -10px;
      }
      svg{
        width: 300px;
        height: 300px;
      }
    }
  }
}


